# Exclusions générales
.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# Réinclusions nécessaires (doivent être après les exclusions)
!out/**
!media/**
!src/webview/soundPlayer.html
!src/scripts/updateKeybindings.ts
!src/tree/SoundView.ts
!src/extension.ts
